body {
    font-family: Monospace;
    background-color: #000;
    color: #fff;
    margin: 0px;
    overflow: hidden;
}

#info {
    color: #fff;
    position: absolute;
    borrom: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}

#playback {
    color: #fff;
    position: absolute;
    bottom: 70px;
    right: 0px;
    width: 100px;
    text-align: center;
    z-index: 100;
    display:block;
}

#info a, .button {
    color: #f00;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer
}

#progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}

#progress_bar.loading {
    opacity: 1.0;
}

#progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
}

#loaders {
    background-color: white;
    color: #000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    text-align: left;
    z-index: 100;
    display:block;
}